<div class="App">
    <header class="App-header">
        <div class="mainContainer">
            <nav class="navContainer">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/form" routerLinkActive="active">
                            Fill in some form
                        </a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/do/api" routerLinkActive="active">
                            Make some API call
                        </a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about/', blah.foobar]" routerLinkActive="active">
                            About
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="contentContainer">
                <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
                <!--
                <app-random-cool [blah]="blah" (randomButtonClick)="buttonGotClicked($event.date, $event.numClicks)"></app-random-cool>
                -->
            </div>
        </div>
    </header>
</div>
