<div>
    <p #MyParagraph>Current time is: {{date.toLocaleTimeString()}}</p>
    <p #MyParagraph>Some variable within RandomCoolComponent: {{someVariable}} </p>
    <p>Here is @Input blah.text: {{blah.text}}</p>
    <button type="button" class="btn btn-success" (click)="onButtonClick($event, 'I got clicked')">
        What time is it?
    </button>
    <app-some-neat-number-list [someReallyInterestingData]="someNeatData">
        <h3>This is some numbers list</h3>
        <span>fancy list, yo</span>
    </app-some-neat-number-list>
</div>
